<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Remove Course</title>
    </head>
    <body>
        <div>
            <div>
                <h3>Confirm Removal</h3>
            <div>
                <div>Are you sure homeboi?</div>
                <div>
                    Name: {{course.course_name}}
                </div>
                <div>
                    Description: {{course.description}}
                </div>
                <div>
                    <form action="{% url 'index' %}">
                    {% csrf_token %}
                    <input type="submit" value ="oh hail nah">
                    </form>
                </div>
                <div>
                <form action="{% url 'removethis' id=course.id%}" method="post">
                    {% csrf_token %}
                    <input type="submit" value ="Yasss">
                </form>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
